{% include "header.html" %} 

	{% load static %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				
				
			</div>
			<div class="checkout-options">
				
			</div><!--/checkout-options-->

			<div class="register-req">
				<h1>Order Placed Successfully</h1>
				<p>Thank you for shopping with us</p>
			</div><!--/register-req-->

			
		</div>
	</section> <!--/#cart_items-->

	{% include "footer.html" %}

    
</body>
</html>